footer {
    margin: 1rem auto;
    font-size: 11px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 2;

    a {
        color: $SoftViolet;
        text-decoration: none;
        padding: 5px;
        border: 1px solid transparent;

        &:hover {
            background-color: $DarkDesaturatedBlue;
            border: 1px solid $SoftViolet;
            transition: 1s ease all;
        }
    }
}